  .projeto-text {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 10;
    background: var(--text-main);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
    position: relative;
  }

  /* Mochi Boom - Doce Sabor Confeitaria */
  @font-face {
    font-family: 'Mochi Boom';
    src: url('../../assets/fonts/Portfolio/Mochi Boom DEMO.ttf') format('truetype');
  }

  .projeto-id-1 {
    font-family: 'Mochi Boom', sans-serif;
  }

  /* Super Charge - TechStart */
  @font-face {
    font-family: 'Super Charge';
    src: url('../../assets/fonts/Portfolio/SuperchargeExpanded-z83aw.otf') format('opentype');
  }

  .projeto-id-2 {
    font-family: 'Super Charge', sans-serif;
  }

  /* Hankey Demo - Café do zé */
  @font-face {
    font-family: 'Hankey Demo';
    src: url('../../assets/fonts/Portfolio/Hanky Demo.otf') format('opentype');
  }

  .projeto-id-3 {
    font-family: 'Hankey Demo', sans-serif;
  }

  /* Vipnagorgialla - Oficina Rota Cert */
  @font-face {
    font-family: 'Vipnagorgialla';
    src: url('../../assets/fonts/Portfolio/Vipnagorgialla Bd.otf') format('opentype');
  }

  .projeto-id-4 {
    font-family: 'Vipnagorgialla', sans-serif;
  }

  /* Raizen Anthem - Sabor Raiz */
  @font-face {
    font-family: 'Raizen Anthem';
    src: url('../../assets/fonts/Portfolio/RaizenAnthem.otf') format('opentype');
  }
  .projeto-id-5 {
    font-family: 'Raizen Anthem', sans-serif;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    line-height: 1.05;
  }

  /* Modern Romance - Casa em Dia*/
  @font-face {
    font-family: 'Modern Romance';
    src: url('../../assets/fonts/Portfolio/Modern Romance.otf') format('opentype');
  }
  .projeto-id-6 {
    font-family: 'Modern Romance', sans-serif;
    font-size: clamp(1.05rem, 1.9vw, 1.35rem);
    line-height: 1.05;
  }

  /* Original Salmon - Ilumina Decora */
  @font-face {
    font-family: 'Original Salmon';
    src: url('../../assets/fonts/Portfolio/Original Salmon.otf') format('opentype');
  }
  .projeto-id-7 {
    font-family: 'Original Salmon', sans-serif;
    font-size: clamp(1rem, 1.8vw, 1.25rem);
    line-height: 1.05;
  }

  /* Good Times - BioTECNO */
  @font-face {
    font-family: 'Good Times';
    src: url('../../assets/fonts/Portfolio/Good Times Rg.otf') format('opentype');
  }
  .projeto-id-8 {
    font-family: 'Good Times', sans-serif;
  } 

  /* Comfortaa Variable - Coopermil */
  @font-face {
    font-family: 'Comfortaa Variable';
    src: url('../../assets/fonts/Portfolio/Comfortaa-VariableFont_wght.ttf') format('truetype');
  }
  .projeto-id-9 {
    font-family: 'Comfortaa Variable', sans-serif;
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    line-height: 1.05;
  }